table {
    width: 80%;

}

th {
    height: 40px;
    text-align: left;
    background-color:#4CAF50;
    color: white;
    border: 1px solid #ddd;
    
}
td {
    height: 35px;
  border: 1px #DDD solid;
  padding: 5px; 
  cursor: pointer;
    border: 1px solid #ddd;
    
}
#tableformat{
    padding-left: 25%;
}